
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-4">
         <h5>Todo List</h5>
        <input [(ngModel)]="task" type="text" id="id"  class="form-control mt-4">
        
        <br><br>
        <ul *ngFor="let task of list">
            <li>{{task.task}}<button class="btn-sm  btn-danger mx-3" (click)="remove(task.id)">X</button></li>
            
        </ul>
    </div>
    <div class="col-4 mt-4">
        <button class="btn btn-primary mt-5" (click)="addTask(task)">add</button>

    </div>
</div>